# Core API Keys
GROQ_API_KEY=
OPENAI_API_KEY=

# Langfuse (Optional)
LANGFUSE_SECRET_KEY=sk-lf-5f6897b5-9568-4acd-a936-33be77d2a36f
LANGFUSE_PUBLIC_KEY=pk-lf-3e0e1907-2897-4426-903a-fab033d92347
LANGFUSE_BASE_URL=http://localhost:3000


# Local Service URLs (for running scripts from host)
GRAPHGEN_URL=http://localhost:8020
GRAPHRAG_URL=http://localhost:8010



