fastapi
uvicorn
falkordb
pydantic
python-dotenv
langchain-core
langfuse
llama-index-core
mcp
# langchain-groq  <-- Removed, using native llama-index-llms-groq
psycopg2-binary
pgvector
pydantic-settings
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index-llms-openai
torch
transformers
tiktoken
